In [3]:
#Pandas Data Series: Create and display a one-dimensional array-like object containing an array of data
import pandas as pd
a=[2,3,4,5,6]
ds=pd.Series(a)
print(ds)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [9]:
#Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type
ds=pd.Series([10,11,12,13])
print("pandas series and type")
print(ds)
print(type(ds))
print("convert pandas series to python list")
print(ds.tolist())
print(type(ds.tolist()))

pandas series and type
0    10
1    11
2    12
3    13
dtype: int64
<class 'pandas.core.series.Series'>
convert pandas series to python list
[10, 11, 12, 13]
<class 'list'>

In [11]:
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
ds1=pd.Series([1,3,5,7,9,11])
ds2=pd.Series([2,4,6,8,10,12])
ds=ds1+ds2
print("add two Series:")
print(ds)
print("subtract two series:")
ds=ds1-ds2
print(ds)
print("multiply two series:")
ds=ds1*ds2
print(ds)
print("divide series1 by series2:")
ds=ds1/ds2
print(ds)

add two Series:
0     3
1     7
2    11
3    15
4    19
5    23
dtype: int64
subtract two series:
0   -1
1   -1
2   -1
3   -1
4   -1
5   -1
dtype: int64
multiply two series:
0      2
1     12
2     30
3     56
4     90
5    132
dtype: int64
divide series1 by series2:
0    0.500000
1    0.750000
2    0.833333
3    0.875000
4    0.900000
5    0.916667
dtype: float64

In [12]:
#Pandas Data Series: Compare the elements of the two Pandas Series
import pandas as pd
ds1=pd.Series([1,5,7,9,3])
ds2=pd.Series([9,5,2,7,1])
print("series:1")
print(ds1)
print("series:2")
print(ds2)
print("compare the elements of the said series:")
print("Equals:")
print(ds1==ds2)
print("Greater than:")
print(ds1>ds2)
print("less than:")
print(ds1<ds2)

series:1
0    1
1    5
2    7
3    9
4    3
dtype: int64
series:2
0    9
1    5
2    2
3    7
4    1
dtype: int64
compare the elements of the said series:
Equals:
0    False
1     True
2    False
3    False
4    False
dtype: bool
Greater than:
0    False
1    False
2     True
3     True
4     True
dtype: bool
less than:
0     True
1    False
2    False
3    False
4    False
dtype: bool

In [15]:
#Write a Pandas program to convert a dictionary to a Pandas series.
d1={"a":700,"b":500,"c":200,"d":300}
print("original dictionary:")
print(d1)
new_series=pd.Series(d1)
print("converted series:")
print(new_series)

original dictionary:
{'a': 700, 'b': 500, 'c': 200, 'd': 300}
converted series:
a    700
b    500
c    200
d    300
dtype: int64

In [16]:
#Write a Pandas program to convert a array to a Pandas series.
import numpy as np
import pandas as pd
np_arr=np.array([10,20,30,40,50])
print(np_arr)
new_series=pd.Series(np_arr)
print(new_series)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [2]:
#Pandas Data Series: Change the data type of given a column or a Series
import pandas as pd
s1=pd.Series(["200","lakshmi","34.7","gaja","700"])
print(s1)
s2=pd.to_numeric(s1,errors="coerce") #Returns a tuple consisting of the two numeric arguments converted to a common type.
print(s2)

0        200
1    lakshmi
2       34.7
3       gaja
4        700
dtype: object
0    200.0
1      NaN
2     34.7
3      NaN
4    700.0
dtype: float64

In [7]:
#Pandas Data Series: Convert the first column of a DataFrame as a Series
import pandas as pd
d={"cols1":[1,2,3,4,6],"cols2":[8,3,4,5,1],"cols3":[5,1,2,3,8]}
df=pd.DataFrame(data=d)
print(df)
s1=df.index[:,0]
print("\n1st column as a series:")
print(s1)
print(type(s1))

   cols1  cols2  cols3
0      1      8      5
1      2      3      1
2      3      4      2
3      4      5      3
4      6      1      8

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [8]:
#Pandas Data Series: Convert a given Series to an array
import pandas as pd
import numpy as np
s1=pd.Series(["200","lakshmi",34.7,"gaja","700"])
print(s1)
print("Series to an array")
a=np.array(s1.tolist())
print(a)

0        200
1    lakshmi
2       34.7
3       gaja
4        700
dtype: object
Series to an array
['200' 'lakshmi' '34.7' 'gaja' '700']

In [12]:
#Pandas Data Series: Convert Series of lists to one Series
s=pd.Series([['pineapple','mango','apple'],['custardapple','banana'],['guava','orange']])
print(s)
s=s.apply(pd.Series).stack().reset_index(drop=True)
print("one series")
print(s)

0    [pineapple, mango, apple]
1       [custardapple, banana]
2              [guava, orange]
dtype: object
one series
0       pineapple
1           mango
2           apple
3    custardapple
4          banana
5           guava
6          orange
dtype: object

In [31]:
#Write a Pandas program to sort a given Series.
s1=pd.Series(["200","lakshmi","347","gaja","700"])
print(s1)
new_series=pd.Series(s1).sort_values()
print(new_series)

0        200
1    lakshmi
2        347
3       gaja
4        700
dtype: object
0        200
2        347
4        700
3       gaja
1    lakshmi
dtype: object

In [33]:
#Pandas Data Series: Add some data to an existing Series
s1=pd.Series(["200","lakshmi","347","gaja","700"])
print(s1)
new_series=s1.append(pd.Series(["chinni","316"]))
print(new_series)

0        200
1    lakshmi
2        347
3       gaja
4        700
dtype: object
0        200
1    lakshmi
2        347
3       gaja
4        700
0     chinni
1        316
dtype: object

In [14]:
#reset the index
s1=pd.Series(["200","lakshmi","347","gaja","700"])
print(s1)
new_series=s1.append(pd.Series(["chinni","316"])).reset_index(drop=True)
print(new_series)

0        200
1    lakshmi
2        347
3       gaja
4        700
dtype: object
0        200
1    lakshmi
2        347
3       gaja
4        700
5     chinni
6        316
dtype: object

In [16]:
#Pandas Data Series: Create a subset of a given series based on value and condition
s=pd.Series([0,1,2,3,4,5,6,7,8,9])
print(s)
n=5
new_series=s[s<n]
print(new_series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [42]:
#Pandas Data Series: Change the order of index of a given series
s=pd.Series(data=[1,2,3,4,5],index=["A","B","C","D","E"])
print(s)
s=s.reindex(index=["B","A","C","D","E"])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [43]:
#Pandas Data Series: Create the mean and standard deviation of the data of a given Series
s=pd.Series([0,1,2,3,4,5,6,7,8,9])
print(s)
print("mean of the data series")
print(s.mean())
print("standard deviation of the data series")
print(s.std())

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
mean of the data series
4.5
standard deviation of the data series
3.0276503540974917

In [44]:
#Pandas Data Series: Get the items of a given series not present in another given series
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([3,7,2,6,8])
print(s1)
print(s2)
result=s1[~s1.isin(s2)]
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    3
1    7
2    2
3    6
4    8
dtype: int64
0    1
3    4
4    5
dtype: int64

In [49]:
#Pandas Data Series: Get the items which are not common of two given series
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([3,7,2,6,8])
print(s1)
print(s2)
s11=pd.Series(np.union1d(s1,s2))
s22=pd.Series(np.intersect1d(s1,s2))
result=s11[~s11.isin(s22)] #Items of a given series not present in another given series:
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    3
1    7
2    2
3    6
4    8
dtype: int64
0    1
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [53]:
#Pandas Data Series: Compute the minimum, 25th percentile, median, 75th, and maximum of a given series
import pandas as pd
import numpy as np
num_state=np.random.RandomState(100)
num_series=pd.Series(num_state.normal(10,4,20))
print("original series:")
print(num_series)
result=np.percentile(num_series,q=[0,25,50,75,100])
result

original series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

array([ 3.00093811,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

In [56]:
#Pandas Data Series: Calculate the frequency counts of each unique value of a given series
num=pd.Series(np.take(list('0123456789'),np.random.randint(10,size=30)))
print(num)
result=num.value_counts()
print(result)

0     0
1     8
2     5
3     1
4     4
5     3
6     8
7     8
8     0
9     6
10    8
11    2
12    6
13    3
14    0
15    6
16    0
17    9
18    3
19    6
20    5
21    4
22    7
23    2
24    0
25    7
26    9
27    1
28    2
29    7
dtype: object
0    5
8    4
6    4
3    3
2    3
7    3
5    2
1    2
4    2
9    2
dtype: int64

In [59]:
#Pandas Data Series: Display most frequent value in a given series and replace everything else as â€˜Otherâ€™ in the series
np.random.RandomState(100)
num=pd.Series(np.random.randint(1,5,[15]))
print(num)
print("top 2 freq:",num.value_counts())
result=num[~num.isin(num.value_counts().index[:1])]="OTHER"
print(num)

0     2
1     3
2     3
3     4
4     3
5     3
6     4
7     4
8     1
9     4
10    3
11    2
12    1
13    1
14    4
dtype: int32
top 2 freq: 3    5
4    5
1    3
2    2
dtype: int64
0     OTHER
1         3
2         3
3     OTHER
4         3
5         3
6     OTHER
7     OTHER
8     OTHER
9     OTHER
10        3
11    OTHER
12    OTHER
13    OTHER
14    OTHER
dtype: object

In [67]:
#Pandas Data Series: Find the positions of numbers that are multiples of 5 of a given series
num=pd.Series(np.random.randint(1,11,15))
print(num)
result=np.where(num%5==0)
print(result)

0      4
1      1
2      8
3     10
4      6
5      3
6      4
7      9
8      5
9      6
10     5
11     5
12     1
13     7
14     7
dtype: int32
(array([ 3,  8, 10, 11], dtype=int64),)

In [68]:
#Write a Pandas program to extract items at given positions of a given series.
num=pd.Series(list("234569876234598762345987"))
element_pos=[0,3,5,11,15]
print(num)
result=num.take(element_pos)
result

0     2
1     3
2     4
3     5
4     6
5     9
6     8
7     7
8     6
9     2
10    3
11    4
12    5
13    9
14    8
15    7
16    6
17    2
18    3
19    4
20    5
21    9
22    8
23    7
dtype: object

0     2
3     5
5     9
11    4
15    7
dtype: object

In [70]:
#Pandas Data Series: Get the positions of items of a given series in another given series
s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([2,4,6,8,7])
print(s1)
print(s2)
result=[pd.Index(s1).get_loc(i) for i in s2]
print(result)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    2
1    4
2    6
3    8
4    7
dtype: int64
[1, 3, 5, 7, 6]

In [72]:
#Pandas Data Series: Convert the first and last character of each word to upper case
s1=pd.Series(["python","dsp","java","daa","html"])
print(s1)
result=s1.map(lambda x:x[0].upper() + x[1:-1]+x[-1].upper())
result

0    python
1       dsp
2      java
3       daa
4      html
dtype: object

0    PythoN
1       DsP
2      JavA
3       DaA
4      HtmL
dtype: object

In [73]:
#Pandas: Calculate the number of characters in each word in a given series
s1=pd.Series(["python","dsp","java","daa","html"])
print(s1)
result=s1.map(lambda x:len(x))
result

0    python
1       dsp
2      java
3       daa
4      html
dtype: object

0    6
1    3
2    4
3    3
4    4
dtype: int64

In [74]:
#Pandas Data Series: Compute difference of differences between consecutive numbers of a given series
s=pd.Series([1,2,6,8,9,11,15])
print(s)
print(s.diff().tolist())
print(s.diff().diff().tolist())

0     1
1     2
2     6
3     8
4     9
5    11
6    15
dtype: int64
[nan, 1.0, 4.0, 2.0, 1.0, 2.0, 4.0]
[nan, nan, 3.0, -2.0, -1.0, 1.0, 2.0]

In [76]:
#Pandas Data Series: Convert a series of date strings to a timeseries
date_series=pd.Series(['06 june 2021', '05-05-2024', '20180307', '2014/05/06T11:22', '2016-04-12', '2019-04-06T11:20'])
print(date_series)
print(pd.to_datetime(date_series))

0        06 june 2021
1          05-05-2024
2            20180307
3    2014/05/06T11:22
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2021-06-06 00:00:00
1   2024-05-05 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 11:22:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [4]:
#Pandas Data Series: Get the day of month, year, week, week number
import pandas as pd
from dateutil.parser import parse
data_series=pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(data_series)
date_series=data_series.map(lambda x:parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("week number:")
print(date_series.dt.weekofyear.tolist())
print("day of week:")
print(date_series.dt.weekday_name.tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
week number:
[1, 39, 10, 19, 15, 14]
day of week:

C:\Users\GAJALA~1\AppData\Local\Temp/ipykernel_7768/3842202161.py:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(date_series.dt.weekofyear.tolist())

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [5]:
#Pandas Data Series: Convert year-month string to dates adding a specified day of the month
import pandas as pd
from dateutil.parser import parse
date_series=pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print(date_series)
print("\nNew dates:")
result=date_series.map(lambda d:parse("07"+d))
result

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:

0   2015-01-07
1   2016-02-07
2   2017-03-07
3   2018-04-07
4   2019-05-07
dtype: datetime64[ns]

In [8]:
#Write a Pandas program to filter words from a given series that contain atleast two vowels
import pandas as pd
from collections import Counter
color_series=pd.Series(["pink","green","violet","yellow","blue"])
print(color_series)
print("\nfiltered words:")
result=mask=color_series.map(lambda c:sum([Counter(c.lower()).get(i,0) for i in list("aeiou")])>=2)
print(color_series[result])

0      pink
1     green
2    violet
3    yellow
4      blue
dtype: object

filtered words:
1     green
2    violet
3    yellow
4      blue
dtype: object

In [9]:
#Pandas Data Series: Compute the Euclidean distance between two given series
import pandas as pd
import numpy as np
x=pd.Series([1,2,3,4,5,6,7,8,9,10])
y=pd.Series([11,8,7,5,6,5,3,4,7,1])
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

In [10]:
#Pandas Data Series: Find the positions of the values neighboured by smaller values on both sides in a given series
import pandas as pd
import numpy as np
num=pd.Series([1,8,7,5,6,5,3,4,7,1])
print(num)
print("\nPosition of the values surrounded by smaller values on both sides:")
temp=np.diff(np.sign(np.diff(num)))
result=np.where(temp==-2)[0]+1
print(result)

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Position of the values surrounded by smaller values on both sides:
[1 4 8]

In [12]:
#Pandas Data Series: Replace missing white spaces in a given string with the least frequent character
import pandas as pd
str="abc def abcdef icd"
print(str)
ser=pd.Series(list(str))
element_freq=ser.value_counts()
print(element_freq)
current_freq=element_freq.dropna().index[-1]
result="".join(ser.replace('',current_freq))
print(result)

abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64
abc def abcdef icd

In [13]:
#Pandas Data Series: Compute the autocorrelations of a given numeric series
import pandas as pd
import numpy as np
num_series=pd.Series(np.arange(15)+np.random.normal(1,10,15))
print(num_series)
autocorrelations=[num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelation of the said series:")
print(autocorrelations[1:])

0      2.426353
1     11.746292
2     12.299770
3     -4.704555
4      7.225322
5     27.532253
6     -8.714675
7      2.385841
8     24.086970
9    -10.265313
10     9.208665
11     8.363460
12    18.993841
13    28.630584
14    17.666735
dtype: float64

Autocorrelation of the said series:
[-0.15, -0.24, 0.48, -0.28, -0.13, 0.17, -0.13, 0.13, 0.15, -0.57]

In [15]:
#Pandas Data Series: Create a TimeSeries to display all the Sundays of given year
import pandas as pd
result=pd.Series(pd.date_range('2022-01-01', periods=52, freq='W-SUN'))
result

0    2022-01-02
1    2022-01-09
2    2022-01-16
3    2022-01-23
4    2022-01-30
5    2022-02-06
6    2022-02-13
7    2022-02-20
8    2022-02-27
9    2022-03-06
10   2022-03-13
11   2022-03-20
12   2022-03-27
13   2022-04-03
14   2022-04-10
15   2022-04-17
16   2022-04-24
17   2022-05-01
18   2022-05-08
19   2022-05-15
20   2022-05-22
21   2022-05-29
22   2022-06-05
23   2022-06-12
24   2022-06-19
25   2022-06-26
26   2022-07-03
27   2022-07-10
28   2022-07-17
29   2022-07-24
30   2022-07-31
31   2022-08-07
32   2022-08-14
33   2022-08-21
34   2022-08-28
35   2022-09-04
36   2022-09-11
37   2022-09-18
38   2022-09-25
39   2022-10-02
40   2022-10-09
41   2022-10-16
42   2022-10-23
43   2022-10-30
44   2022-11-06
45   2022-11-13
46   2022-11-20
47   2022-11-27
48   2022-12-04
49   2022-12-11
50   2022-12-18
51   2022-12-25
dtype: datetime64[ns]

In [3]:
#Pandas Data Series: Convert given series into a dataframe with its index as another column on the dataframe
import pandas as pd
import numpy as np
char_list=list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
num_arr=np.arange(6)
num_dict=dict(zip(char_list,num_arr))
num_ser=pd.Series(num_dict)
df=num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [5]:
#Pandas Data Series: Stack two given series vertically and horizontally
import pandas as pd
series1=pd.Series(range(10))
series2=pd.Series(list("asdfghjkl"))
print(series1)
print(series2)
series1.append(series2)
df=pd.concat([series1,series2],axis=1)
print("\nstack two given series vertically and horizontally:")
print(df)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    a
1    s
2    d
3    f
4    g
5    h
6    j
7    k
8    l
dtype: object

stack two given series vertically and horizontally:
   0    1
0  0    a
1  1    s
2  2    d
3  3    f
4  4    g
5  5    h
6  6    j
7  7    k
8  8    l
9  9  NaN

In [6]:
#Pandas Data Series: Check the equality of two given series
num1=pd.Series([1,2,3,4,5,6,7,8,9,10])
num2=pd.Series([1,2,3,4,5,6,7,8,9,10])
print(num1)
print(num2)
print(num1==num2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [7]:
#Pandas Data Series: Find the index of the first occurrence of the smallest and largest value of a given series
num=pd.Series([1,7,2,4,15,7,9,0,6,3])
print(num)
print(num.idxmin())
print(num.idxmax())

0     1
1     7
2     2
3     4
4    15
5     7
6     9
7     0
8     6
9     3
dtype: int64
7
4

In [9]:
#Pandas Data Series: Check inequality over the index axis of a given dataframe and a given series
df_data=pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data=pd.Series([68,75,86,80,None])
print(df_data)
print(sr_data)
print(df_data.ne(sr_data,axis=0))

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True